.wrapper {
	height: 100vh;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.quote-box {
	background-color: white;
	height: fit-content;
	width: 500px;
	padding: 40px 50px;
	border-radius: 20px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.quote-text {
	height: fit-content;
	width: 500px;
	font-size: 32px;
}

.quote-author {
	height: fit-content;
	width: 500px;
	padding: 20px 0;
	font-size: 20px;

	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.quote-buttons {
	height: fit-content;
	width: 500px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.tweet-button {
	display: inline-block;
	height: 48px;
	width: 48px;

	border-radius: 8px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.new-quote {
	height: 48px;
	width: 120px;
	color: white;

	font-size: 12px;
	font-weight: 600;

	border: 0;
	border-radius: 8px;
}

.new-quote:hover {
	opacity: 70%;
}

.new-quote:active {
	opacity: 100%;
}
